{% extends 'myhealth/base.html' %}
{% block title %}设备{% endblock %}
{% load static %}

{% block body %}
    <div class="productPageDiv">


        <script>

            $(function () {
                var stock = 17;
                $(".productNumberSetting").keyup(function () {
                    var num = $(".productNumberSetting").val();
                    num = parseInt(num);
                    if (isNaN(num))
                        num = 1;
                    if (num <= 0)
                        num = 1;
                    if (num > stock)
                        num = stock;
                    $(".productNumberSetting").val(num);
                });

                $(".increaseNumber").click(function () {
                    var num = $(".productNumberSetting").val();
                    num++;
                    if (num > stock)
                        num = stock;
                    $(".productNumberSetting").val(num);
                });
                $(".decreaseNumber").click(function () {
                    var num = $(".productNumberSetting").val();
                    --num;
                    if (num <= 0)
                        num = 1;
                    $(".productNumberSetting").val(num);
                });

                $(".addCartLink").click(function () {
                    var page = "forecheckLogin";
                    $.get(
                        page,
                        function (result) {
                            if ("success" == result) {
                                var pid = 265;
                                var num = $(".productNumberSetting").val();
                                var addCartpage = "foreaddCart";
                                $.get(
                                    addCartpage,
                                    {"pid": pid, "num": num},
                                    function (result) {
                                        if ("success" == result) {
                                            $(".addCartButton").html("已加入购物车");
                                            $(".addCartButton").attr("disabled", "disabled");
                                            $(".addCartButton").css("background-color", "lightgray")
                                            $(".addCartButton").css("border-color", "lightgray")
                                            $(".addCartButton").css("color", "black")

                                        }
                                        else {

                                        }
                                    }
                                );
                            }
                            else {
                                $("#loginModal").modal('show');
                            }
                        }
                    );
                    return false;
                });
                $(".buyLink").click(function () {
                    var page = "forecheckLogin";
                    $.get(
                        page,
                        function (result) {
                            if ("success" == result) {
                                var num = $(".productNumberSetting").val();
                                location.href = $(".buyLink").attr("href") + "&num=" + num;
                            }
                            else {
                                $("#loginModal").modal('show');
                            }
                        }
                    );
                    return false;
                });

                $("button.loginSubmitButton").click(function () {
                    var name = $("#name").val();
                    var password = $("#password").val();

                    if (0 == name.length || 0 == password.length) {
                        $("span.errorMessage").html("请输入账号密码");
                        $("div.loginErrorMessageDiv").show();
                        return false;
                    }

                    var page = "foreloginAjax";
                    $.get(
                        page,
                        {"name": name, "password": password},
                        function (result) {
                            if ("success" == result) {
                                location.reload();
                            }
                            else {
                                $("span.errorMessage").html("账号密码错误");
                                $("div.loginErrorMessageDiv").show();
                            }
                        }
                    );

                    return true;
                });

                $("img.smallImage").mouseenter(function () {
                    var bigImageURL = $(this).attr("bigImageURL");
                    $("img.bigImg").attr("src", bigImageURL);
                });

                $("img.bigImg").load(
                    function () {
                        $("img.smallImage").each(function () {
                            var bigImageURL = $(this).attr("bigImageURL");
                            img = new Image();
                            img.src = bigImageURL;

                            img.onload = function () {
                                console.log(bigImageURL);
                                $("div.img4load").append($(img));
                            };
                        });
                    }
                );
            });

        </script>

        <div class="imgAndInfo">

            <div class="imgInimgAndInfo">
                <img src="{% get_media_prefix %}{{ device.cover1 }}" class="bigImg">

                <div class="smallImageDiv">


                    <img src="{% get_media_prefix %}{{ device.cover1 }}" bigimageurl="{% get_media_prefix %}{{ device.cover1 }}"
                         class="smallImage">

                    <img src="{% get_media_prefix %}{{ device.cover2 }}" bigimageurl="{% get_media_prefix %}{{ device.cover2 }}"
                         class="smallImage">

                    <img src="{% get_media_prefix %}{{ device.cover3 }}" bigimageurl="{% get_media_prefix %}{{ device.cover3 }}"
                         class="smallImage">

                    <img src="{% get_media_prefix %}{{ device.cover4 }}" bigimageurl="{% get_media_prefix %}{{ device.cover4 }}"
                         class="smallImage">

                    <img src="{% get_media_prefix %}{{ device.cover5 }}" bigimageurl="{% get_media_prefix %}{{ device.cover5 }}"
                         class="smallImage">


                </div>

                <div class="img4load hidden"><img src="img/productSingle/2566.jpg"><img
                        src="img/productSingle/2566.jpg"></div>
            </div>

            <div class="infoInimgAndInfo">

                <div class="productTitle">
                    {{ device.name }}
                </div>
                <div class="productSubTitle">
                    {{ device.label }}
                </div>

                <div class="productPrice">

                    <div class="productPriceDiv">

                        <div class="promotionDiv">
                            <span class="promotionPriceDesc">促销价 </span>
                            <span class="promotionPriceYuan">￥</span>
                            <span class="promotionPrice">
                        {{ device.price }}
                    </span>
                        </div>
                    </div>
                </div>


                <div class="productSaleAndReviewNumber">
                    <div>销量 <span class="redColor boldWord"> {{ device.sales }}</span></div>

                </div>
                <div class="buyDiv">
                    <a class="buyLink" href="forebuyone?pid=265">
                        <button disabled="disabled" class="buyButton">立即购买(尚未开通)</button>
                    </a>
                    <a href="#nowhere" class="addCartLink">
                        <button disabled="disabled" class="addCartButton"><span class="glyphicon glyphicon-shopping-cart"></span>加入购物车(尚未开通)
                        </button>
                    </a>
                </div>
            </div>

            <div style="clear:both"></div>

        </div>


                <div class="content ke-post" style="height: auto;">
                    <p>
                    <img
                            src="{% get_media_prefix %}{{ device.detailimage1 }}"
                            align="absmiddle" class="img-ks-lazyload" data-spm-anchor-id="a220o.1000855.0.i2.69d5393aRwxj1p">
                    <img
                            align="absmiddle"
                            src="{% get_media_prefix %}{{ device.detailimage2 }}"
                            class="img-ks-lazyload" data-spm-anchor-id="a220o.1000855.0.i1.69d5393aRwxj1p">
                    <img align="absmiddle"
                         src="{% get_media_prefix %}{{ device.detailimage3 }}"
                         class="img-ks-lazyload"
                         data-spm-anchor-id="a220o.1000855.0.i3.69d5393aRwxj1p">
                    <img
                            align="absmiddle"
                            src="{% get_media_prefix %}{{ device.detailimage4 }}"
                            class="img-ks-lazyload" data-spm-anchor-id="a220o.1000855.0.i5.69d5393aRwxj1p">
                    <img align="absmiddle"
                         src="{% get_media_prefix %}{{ device.detailimage5 }}"
                         class="img-ks-lazyload">
                    </p>
                </div>
    </div>
{% endblock %}