{% extends 'myhealth/base.html' %}
{% block title %}设备{% endblock %}
{% load static %}
{% block body %}
    <div class="homepageCategoryProducts">

			<div class="eachHomepageCategoryProducts">
				<div class="left-mark"></div>
				<span class="categoryTitle">基础设备</span>
				<br>

                {% for d in devices %}
                    <div class="productItem">

							<a href="{% url 'device:device' d.id %}"><img width="100px" src="{% get_media_prefix %}/{{ d.cover1 }}"></a>
							<a class="productItemDescLink" href="">
								<span class="productItemDesc">
								{{ d.name }}
								</span>
						    </a>
							<span class="productPrice">
								{{ d.price }}
							</span>
						</div>
                {% endfor %}







						<div class="productItem">

							<a href="foreproduct?pid=90"><img width="100px" src="img/productSingle_middle/665.jpg"></a>
							<a class="productItemDescLink" href="foreproduct?pid=90">
								<span class="productItemDesc">[热销]
								血氧监测计
								</span>
						    </a>
							<span class="productPrice">
								￥299.0
							</span>
						</div>



						<div class="productItem">

							<a href="foreproduct?pid=89"><img width="100px" src="img/productSingle_middle/654.jpg"></a>
							<a class="productItemDescLink" href="foreproduct?pid=89">
								<span class="productItemDesc">[热销]
								智能体温计
								</span>
						    </a>
							<span class="productPrice">
								￥99.0
							</span>
						</div>



						<div class="productItem">

							<a href="foreproduct?pid=88"><img width="100px" src="img/productSingle_middle/643.jpg"></a>
							<a class="productItemDescLink" href="foreproduct?pid=88">
								<span class="productItemDesc">[热销]
								健康卫士套装
								</span>
						    </a>
							<span class="productPrice">
								￥599.0
							</span>
						</div>



						<div class="productItem">

							<a href="foreproduct?pid=87"><img width="100px" src="img/productSingle_middle/632.jpg"></a>
							<a class="productItemDescLink" href="">
								<span class="productItemDesc">[热销]
								豪华版健康卫士套装
								</span>
						    </a>
							<span class="productPrice">
								￥999.0
							</span>
						</div>




				<div style="clear:both"></div>
			</div>

				<div style="clear:both"></div>
			</div>
</div>
{% endblock %}