
{% extends 'myhealth/base.html' %}
{% load static %}


{% block title %}BlogHome{% endblock %}

{% block banner %}
     <div class="col-lg-12">
                <h1>Blog Details</h1>
                <a href="index.html">Home</a> <span>|</span> <a href="blog-details.html">Blog Details</a>
            </div>
{% endblock %}

{% block body %}
<!--================Blog Area =================-->
<section class="blog_area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 posts-list">
                <div class="single-post row">
                    <div class="col-lg-12">
                        <div class="feature-img">
                            <img class="img-fluid" src="{% static "assets/images/blog-details/feature-img1.jpg" %}"
                                 alt="">
                        </div>
                    </div>
                    <div class="col-lg-3  col-md-3">
                        <div class="blog_info text-right">
                            <div class="post_tag">
                                <a href="#">{{ page.label }}</a>
                            </div>
                            <ul class="blog_meta list">
                                <li><a href="#">{{ page.author }}<i class="fa fa-user-o"></i></a></li>
                                <li><a href="#">{{ page.date }}<i class="fa fa-calendar-o"></i></a></li>
                                <li><a href="#">{{ page.views }}<i class="fa fa-eye"></i></a></li>
                                <li><a href="#">{{ page.comments }}<i class="fa fa-comment-o"></i></a></li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 blog_details">
                        {{ content|safe }}
                        <h5>{{ page.title }}</h5>
                        <p class="excert">
                            {{ page.article|safe }}
                        </p>
                    </div>
                </div>
                {% include 'comment/blog_comment.html' with comments=comments comments_count=comments_count  blog_id=blog_id %}

            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget search_widget">
                        <div class="input-group">
                            <input type="text" class="form-control">
                            <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                                </span>
                        </div><!-- /input-group -->
                        <div class="br"></div>
                    </aside>
                    <aside class="single_sidebar_widget author_widget">
                        <img class="author_img rounded-circle" src="{% static "assets/images/blog/author.png" %}"
                             alt="">
                        <h5>Charlie Barber</h5>
                        <p>Senior blog writer</p>
                        <div class="social_icon">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-github"></i></a>
                            <a href="#"><i class="fa fa-behance"></i></a>
                        </div>
                        <p>Boot camps have its supporters andit sdetractors. Some people do not understand why you
                            should have to spend money on boot camp when you can get. Boot camps have itssuppor ters
                            andits detractors.</p>
                        <div class="br"></div>
                    </aside>
                    <aside class="single_sidebar_widget popular_post_widget">
                        <h4 class="widget_title">Popular Posts</h4>
                        <div class="media post_item">
                            <img src="{% static "assets/images/blog/popular-post/post1.jpg" %}" alt="post">
                            <div class="media-body">
                                <a href="blog-details.html"><h5>Space The Final Frontier</h5></a>
                                <p>02 Hours ago</p>
                            </div>
                        </div>
                        <div class="media post_item">
                            <img src="{% static "assets/images/blog/popular-post/post2.jpg" %}" alt="post">
                            <div class="media-body">
                                <a href="blog-details.html"><h5>The Amazing Hubble</h5></a>
                                <p>02 Hours ago</p>
                            </div>
                        </div>
                        <div class="media post_item">
                            <img src="{% static "assets/images/blog/popular-post/post3.jpg" %}" alt="post">
                            <div class="media-body">
                                <a href="blog-details.html"><h5>Astronomy Or Astrology</h5></a>
                                <p>03 Hours ago</p>
                            </div>
                        </div>
                        <div class="media post_item">
                            <img src="{% static "assets/images/blog/popular-post/post4.jpg" %}" alt="post">
                            <div class="media-body">
                                <a href="blog-details.html"><h5>Asteroids telescope</h5></a>
                                <p>01 Hours ago</p>
                            </div>
                        </div>
                        <div class="br"></div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Blog Area =================-->
{% endblock %}

