<!DOCTYPE html>
<html lang="ch-CN">

{% load static %}
{% load notifications_tags %}
<head>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="{% static 'notifications/notify.js' %}"></script>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Page Title -->
    <title>{% block title %}parent{% endblock %}</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static "assets/images/logo/favicon.png" %}" type="image/x-icon">

    <!-- CSS Files -->
    <link rel="stylesheet" href="{% static "myhealth/assets/css/animate-3.7.0.css" %}">
    <link rel="stylesheet" href="{% static "myhealth/assets/css/font-awesome-4.7.0.min.css" %}">
    <link rel="stylesheet" href="{% static "myhealth/assets/css/bootstrap-4.1.3.min.css" %}">
    <link rel="stylesheet" href="{% static "myhealth/assets/css/owl-carousel.min.css" %}">
    <link rel="stylesheet" href="{% static "myhealth/assets/css/jquery.datetimepicker.min.css" %}">
    <link rel="stylesheet" href="{% static "myhealth/assets/css/linearicons.css" %}">
    <link rel="stylesheet" href="{% static "myhealth/assets/css/style.css" %}">
    {#    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>#}
    {#    <script src="https://code.highcharts.com/highcharts.js"></script>#}
</head>


<body>
<!-- Preloader Starts -->
<div class="preloader">
    <div class="spinner"></div>
</div>
<!-- Preloader End -->

<!-- Header Area Starts -->
<header class="header-area">
    <div id="header" id="home">
        <div class="container">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo">
                    <a href="{% url 'myhealth:index' %}"><img src="{% static "myhealth/assets/images/logo/logo.png" %}"
                                                              alt=""
                                                              title=""/></a>
                </div>
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li class="menu-active"><a href="{% url 'myhealth:index' %}">主页</a></li>
                        <li><a href="{% url 'blog:bloghome' 1 %}">社区</a></li>
                        <li><a href="{% url 'mhuser:doctors' %}">医生</a></li>
                        <li class="menu-has-children"><a href="{% url 'device:devices' %}">设备</a>
                            <ul>
                                <li><a href="">购买设备</a></li>
                                <li><a href="">售后服务</a></li>
                            </ul>
                        </li>
                        {% if user.is_authenticated %}  {# 如果用户登陆了 #}
                            {% if user.usertype == 'doctor' %}{# 如果用户是医生 #}
                                <li class="menu-has-children"><img src="{{ profile.avatar.url }}"/>
                                    <ul>
                                        <li><a href="{% url 'blog:blogwrite' %}">写博客</a></li>
                                        <li><a href="">我的客户</a></li>
                                        {% if notifications_unread == 0 %}
                                            <li><a href="">收到的信息</a></li>
                                        {% else %}
                                            <li><a style="color:red" href="">收到的信息{% notifications_unread %}</a></li>
                                        {% endif %}
                                    </ul>
                                </li>
                                {% else %}{# 如果用户是普通用户 #}
                                <li class="menu-has-children"><img src="{{ profile.avatar.url }}"/>
                                    <ul>
                                        <li><a href="{% url 'mhuser:profile' %}">个人资料</a></li>
                                        <li><a href="{% url 'blog:blogwrite' %}">写博客</a></li>
                                        <div role="none" class="dropdown-divider"></div>
                                        <li><a href="{% url 'mhuser:heartbeat'%}">我的心率</a></li>
                                        <li><a href="">血氧监测</a></li>
                                        <li><a href="">历史数据</a></li>
                                        <li><a href="">全部数据</a></li>
                                        {% if notifications_unread == 0 %}
                                            <li><a href="">没有未读消息</a></li>
                                        {% else %}
                                            <li><a style="color:red" href="">未读信息：{% notifications_unread %}</a></li>
                                        {% endif %}
                                        <div role="none" class="dropdown-divider"></div>
                                        <li><a href="{% url 'mhuser:logout' %}">注销</a></li>
                                    </ul>
                                </li>
                            {% endif %}

                            {% else %}{# 用户未登录 #}
                            <li><a href="{% url 'mhuser:login' %}">登录</a></li>
                        {% endif %}


                    </ul>
                </nav><!-- #nav-menu-container -->
            </div>
        </div>
    </div>
</header>
<!-- Header Area End -->

<!-- Banner Area Starts -->
<section class="banner-area">
    <div class="container">
        <div class="row">
            {% block banner %}

            {% endblock %}
        </div>
    </div>
</section>
<!-- Banner Area End -->

{% block body %}
{% endblock %}

<!-- Footer Area Starts -->
<footer class="footer-area section-padding">
    <div class="footer-widget">
        <div class="container">
            <div class="row">
                <div class="col-xl-2 col-lg-3">
                    <div class="single-widget-home mb-5 mb-lg-0">
                        <h3 class="mb-4">联系我们</h3>
                        <ul>
                            <li class="mb-2"><a href="#">QQ</a></li>
                            <li class="mb-2"><a href="#">微信</a></li>
                            <li class="mb-2"><a href="#">微博</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-5 offset-xl-1 col-lg-6">
                    <div class="single-widget-home mb-5 mb-lg-0">
                        <h3 class="mb-4">没找到你想要的？</h3>
                        <p class="mb-4">请在下方搜索框内输入搜索项</p>
                        <form action="#">
                            <input type="text" placeholder="找到你想要的" onfocus="this.placeholder = ''"
                                   onblur="this.placeholder = '找到你想要的'" required>
                            <button type="submit" class="template-btn">search now</button>
                        </form>
                    </div>
                </div>
                <div class="col-xl-3 offset-xl-1 col-lg-3">
                    <div class="single-widge-home">
                        <h3 class="mb-4">活跃用户</h3>
                        <div class="feed">
                            <img src="{% static "myhealth/assets/images/feed1.jpg" %}" alt="feed">
                            <img src="{% static "myhealth/assets/images/feed2.jpg" %}" alt="feed">
                            <img src="{% static "myhealth/assets/images/feed3.jpg" %}" alt="feed">
                            <img src="{% static "myhealth/assets/images/feed4.jpg" %}" alt="feed">
                            <img src="{% static "myhealth/assets/images/feed5.jpg" %}" alt="feed">
                            <img src="{% static "myhealth/assets/images/feed6.jpg" %}" alt="feed">
                            <img src="{% static "myhealth/assets/images/feed7.jpg" %}" alt="feed">
                            <img src="{% static "myhealth/assets/images/feed8.jpg" %}" alt="feed">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-6">
                        <span>

Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | coding by lichang
</span>
                </div>

            </div>
        </div>
    </div>
</footer>
<!-- Footer Area End -->

<!-- Javascript -->

{#<script src="{% static "myhealth/assets/js/vendor/jquery-2.2.4.min.js" %}"></script>#}
<script src="{% static "myhealth/assets/js/vendor/bootstrap-4.1.3.min.js" %}"></script>
<script src="{% static "myhealth/assets/js/vendor/wow.min.js" %}"></script>
<script src="{% static "myhealth/assets/js/vendor/owl-carousel.min.js" %}"></script>
<script src="{% static "myhealth/assets/js/vendor/jquery.datetimepicker.full.min.js" %}"></script>
<script src="{% static "myhealth/assets/js/vendor/jquery.nice-select.min.js" %}"></script>
<script src="{% static "myhealth/assets/js/vendor/superfish.min.js" %}"></script>
<script src="{% static "myhealth/assets/js/main.js" %}"></script>

</body>
</html>