{% extends 'myhealth/base.html' %}
{% load static %}
{% block title %}注册{% endblock %}

<!-- Banner Area Starts -->
{% block banner %}
    <div class="col-lg-8">
        <h1>注册</h1>
        <a href="{% url 'myhealth:index' %}">主页</a> <span>|</span> <a href="../login">登录</a>
    </div>
    <div class="col-md-4">
        <div class=" text-gray bg-gray-light py-4 px-4 px-md-3 px-lg-4">
            <form action="{% url 'myhealth:register' %}" accept-charset="UTF-8" method="post"><input name="utf8"
                                                                                                     type="hidden"
                                                                                                     value="&#x2713;"/>
                {% csrf_token %}
                <dl class="form-group mt-0">
                    <dt class="input-label">
                        <label class="form-label f5" for="user[login]">用户名</label>
                    </dt>
                    <input type="text" name="user_name" id="user_login"
                           class="form-control form-control-lg input-block"
                           placeholder="username" autofocus>
                    <label style="color: #ff2200">{{ z_placeholder }}</label>

                </dl>
                <dl class="form-group">
                    <dt class="input-label">
                        <label class="form-label f5" for="user[email]">Email</label>
                    </dt>
                    <dd>
                        <input type="text" name="user_email" id="user_email"
                               class="form-control form-control-lg input-block js-email-notice-trigger"
                               placeholder="you@example.com">
                    </dd>
                </dl>
                <dl class="form-group">
                    <dt class="input-label">
                        <label class="form-label f5" for="user[password]">密码</label>
                    </dt>
                    <dd>
                        <input type="password" name="user_password" id="user_password"
                               class="form-control form-control-lg input-block"
                               placeholder="Create a password">
                    </dd>
                </dl>
                <div class="switch-wrap d-flex justify-content-between ">
                    {% for u in user.user_type %}
                        {{ u }}
                    {% endfor %}
                </div>

                <button class="btn-mktg btn-primary-mktg btn-large-mktg f4 btn-block genric-btn info"
                        type="submit"
                        data-ga-click="Signup, Attempt, location:teams;">在Bodydetect上注册
                </button>

            </form>
        </div>
    </div>
{% endblock %}

</section>
<!-- Banner Area End -->


