<script>
    function reply(obj) {
        replied_name = obj.parentNode.previousElementSibling.lastElementChild.children[0].innerText
        replied_time = obj.parentNode.previousElementSibling.lastElementChild.children[1].innerText
        replystr = "#回复：" + "<p class=\"myreply\">" + replied_name + "</p>" +  "<p class=\"myreply\">" + replied_time + "</p>" + "<br>"
        CKEDITOR.instances["id_content"].insertHtml(replystr)
        document.getElementById('cancelreply').innerText = '取消回复'
        window.location.hash = "#评论"
    }

    function cancelReply() {
        CKEDITOR.instances["id_content"].innerText = ''
        window.location.hash = "#评论列表"
    }
</script>
{% load static %}
<div class="comments-area">
    {% if comments_count == 0 %}
        <h3 hidden="hidden">评论列表</h3>
        <h3>暂无评论</h3>
        <div>
            <div class="form-group col-lg-6 col-md-6">
                <form action="{% url 'comment:addcomment' blog_id %}" accept-charset="UTF-8" method="post">
                    {% csrf_token %}
                    {{ ck.media }}
                    {{ ck.as_p }}
                    <p><a id='cancelreply' href = '#评论列表' onclick="cancelReply()"></a></p>
                    <input href="#评论列表" class="template-btn" type="submit"/>
                </form>
            </div>
        </div>
    {% else %}
        <h3>评论（{{ comments_count }}）</h3>
        {% for comment in comments %}
            {% if comment.bottom_comments == '0' %}
                <div class="comment-list">
                    <div class="single-comment justify-content-between d-flex">
                        <div class="user justify-content-between d-flex">
                            <div class="thumb">
{#                                <img src="{% get_media_prefix %}/{{ comment.avatar }}" alt="">#}
                            </div>
                            <div class="desc">
                                <h5><a href="#">{{ comment.author }}</a></h5>
                                <p class="date">{{ comment.time|date:"Y-m-d H:i:s.u"}}</p>
                                <p class="comment">
                                    {{ comment.content|safe }}
                                </p>
                            </div>
                        </div>
                        <div class="reply-btn">
                            <a onclick="reply(this)" class="btn-reply text-uppercase">reply</a>
                        </div>
                    </div>
                </div>
            {% elif comment.bottom_comments == '1' %}
                <div class="comment-list left-padding">
                    <div class="single-comment justify-content-between d-flex">
                        <div class="user justify-content-between d-flex">
                            <div class="thumb">
                                <img src="{{ comment.avatar }}" alt="">
                            </div>
                            <div class="desc">
                                <h5><a href="#">{{ comment.author }}</a></h5>
                                <p class="date">{{ comment.time|date:"Y-m-d H:i:s.u" }}</p>
                                <p class="comment">
                                    {{ comment.content|safe }}
                                </p>
                            </div>
                        </div>
                        <div class="reply-btn">
                            <a onclick="reply(this)"  class="btn-reply text-uppercase">reply</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <div>
            <h3>评论</h3>
            <div class="form-group col-lg-6 col-md-6">
                <form action="{% url 'comment:addcomment' blog_id %}" accept-charset="UTF-8" method="post">
                    {% csrf_token %}
                    {{ ck.media }}
                    {{ ck.as_p }}
                    <p><a id='cancelreply' href = '#评论列表' onclick="cancelReply()"></a></p>
                    <input  href="#评论列表" class="template-btn" type="submit"/>
                </form>

            </div>
        </div>
    {% endif %}

</div>
