{#<script>#}
{#    function reply(obj) {#}
{#        replied_name = obj.parentNode.previousElementSibling.lastElementChild.children[0].innerText#}
{#        replied_time = obj.parentNode.previousElementSibling.lastElementChild.children[1].innerText#}
{#        replystr = "#回复：" + "<p class=\"myreply\">" + replied_name + "</p>" +  "<p class=\"myreply\">" + replied_time + "</p>" + "<br>"#}
{#        CKEDITOR.instances["id_content"].insertHtml(replystr)#}
{#        document.getElementById('cancelreply').innerText = '取消回复'#}
{#        window.location.hash = "#评论"#}
{#    }#}
{##}
{#    function cancelReply() {#}
{#        CKEDITOR.instances["id_content"].innerText = ''#}
        {#window.location.hash = "#评论列表"#}
{#    }#}
{#</script>#}
{% load static %}
<div class="comments-area">
    {% if explain_count == 0 %}
        <h3 hidden="hidden">留言列表</h3>
        <h3>暂无留言</h3>
        <div>
            <div class="form-group col-lg-6 col-md-6">
                <form action="{% url 'explain:addexplain' request.path %}" enctype="multipart/form-data" accept-charset="UTF-8" method="post">
                    {% csrf_token %}
                    {{ ck.media }}
                    {{ ck.as_p }}
                    <p><a id='cancelreply' href = '#评论列表' onclick="cancelReply()"></a></p>
                    <input href="#评论列表" class="template-btn" type="submit"/>
                </form>
            </div>
        </div>
    {% else %}
        <h3>留言（{{ explain_count }}）</h3>
        {% for explain in explains %}
                <div class="comment-list">
                    <div class="single-comment justify-content-between d-flex">
                        <div class="user justify-content-between d-flex">
                            <div class="thumb">
                                <img src="{% get_media_prefix %}/{{ comment.avatar }}" alt="">
                            </div>
                            <div class="desc">
                                <h5><a href="#">{{ explain.author }}</a></h5>
                                <p class="date">{{ explain.time|date:"Y-m-d H:i:s.u"}}</p>
                                <p class="comment">
                                    {{ explain.context|safe }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
        {% endfor %}
        <div>
            <h3>留言</h3>
            <div class="form-group col-lg-6 col-md-6">
                <form action="{% url 'explain:addexplain' request.path %}" accept-charset="UTF-8" method="post">
                    {% csrf_token %}
                    {{ ck.media }}
                    {{ ck.as_p }}
                    <input  href="#评论列表" class="template-btn" type="submit"/>
                </form>

            </div>
        </div>
    {% endif %}

</div>
