{% extends 'myhealth/base.html' %}
{% block title %}设备{% endblock %}
{% block body %}
    <script>
    $(document).ready(function () {
        CKEDITOR.instances["id_content"].resize(1200, 1000)
    });
</script>
    <div class="form-group col-lg-6 col-md-6">
        <form action="{% url 'blog:blogwrite' %}" enctype="multipart/form-data" accept-charset="UTF-8" method="post">
            {% csrf_token %}
            <div class="blog_right_sidebar">
                {{ ck.media }}
                {{ ck.as_p }}
                <dt class="input-label">
                            <label class="form-label f5" name="label">标签</label>
                    </dt>
                    <dd>
                        <input type="text" name="label" id="label" class="form-control form-control-lg input-block" placeholder="添加标签">
                    </dd>

           <input type="submit" value="提交">
            </div>

        </form>
    </div>
{% endblock %}
