{% extends 'myhealth/base.html' %}
{% load static %}

{% block title %}BlogHome{% endblock %}
 <section class="blog_categorie_area">

</section>
{% block  body%}
<section class="blog_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="blog_left_sidebar">
                        {% for page in pages %}
                        <article class="row blog_item">
                           <div class="col-md-3">
                               <div class="blog_info text-right">
                                    <div class="post_tag">
                                        <a href="#">{{ page.label }}</a>
                                    </div>
                                    <ul class="blog_meta list">
                                        <li><a href="#">{{ page.author_id }}<i class="fa fa-user-o"></i></a></li>
                                        <li><a href="#">{{ page.date }}<i class="fa fa-calendar-o"></i></a></li>
                                        <li><a href="#">{{ page.views }}<i class="fa fa-eye"></i></a></li>
                                        <li><a href="#">{{ page.commonts }}<i class="fa fa-comment-o"></i></a></li>
                                    </ul>
                                </div>
                           </div>
                            <div class="col-md-9">
                                <div class="blog_post">
                                    <div class="blog_details">
                                        <a href="{% url 'blog:blog' page.id %}"><h4>{{ page.title }}</h4></a>
                                        <p>{{ page.abstract|safe }}......</p>
                                        <a href="{% url 'blog:blog' page.id %}" class="template-btn">详细</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                        {% endfor %}
                        <nav class="blog-pagination justify-content-center d-flex">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a href="{% url 'blog:bloghome' page_pre %}" class="page-link" aria-label="Previous">
                                        <span aria-hidden="true">
                                            <span class="fa fa-angle-left"></span>
                                        </span>
                                    </a>
                                </li>
                                {% for p in page_range %}
                                    {% if p == page_id %}
                                        <li class="page-item active"><a href="{% url 'blog:bloghome' p %}" class="page-link">{{ p }}</a></li>
                                    {% else %}
                                        <li class="page-item"><a href="{% url 'blog:bloghome' p %}" class="page-link">{{ p }}</a></li>
                                    {% endif %}
                                {% endfor %}
{#                                <li class="page-item"><a href="#" class="page-link">01</a></li>#}
{#                                <li class="page-item active"><a href="#" class="page-link">02</a></li>#}
{#                                <li class="page-item"><a href="#" class="page-link">03</a></li>#}
{#                                <li class="page-item"><a href="#" class="page-link">04</a></li>#}
{#                                <li class="page-item"><a href="#" class="page-link">09</a></li>#}
                                <li class="page-item">
                                    <a href="{% url 'blog:bloghome' page_next %}" class="page-link" aria-label="Next">
                                        <span aria-hidden="true">
                                            <span class="fa fa-angle-right"></span>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget">
                            <div class="input-group">
                                <input type="text" class="form-control">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                                </span>
                            </div><!-- /input-group -->
                            <div class="br"></div>
                        </aside>
                        <aside class="single_sidebar_widget author_widget">
                            <img class="author_img rounded-circle" src="{% static "myhealth/assets/images/blog/author.png" %}" alt="">
                            <h5>Charlie Barber</h5>
                            <p>Senior blog writer</p>
                            <div class="social_icon">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-github"></i></a>
                                <a href="#"><i class="fa fa-behance"></i></a>
                            </div>
                            <p>Boot camps have its supporters andit sdetractors. Some people do not understand why you should have to spend money on boot camp when you can get. Boot camps have itssuppor ters andits detractors.</p>
                            <div class="br"></div>
                        </aside>
                        <aside class="single_sidebar_widget popular_post_widget">
                            <h4 class="widget_title">Popular Posts</h4>
                            <div class="media post_item">
                                <img src="{% static "myhealth/assets/images/blog/popular-post/post1.jpg" %}" alt="post">
                                <div class="media-body">
                                    <a href="blog-details.html"><h5>Space The Final Frontier</h5></a>
                                    <p>02 Hours ago</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="{% static "myhealth/assets/images/blog/popular-post/post2.jpg" %}" alt="post">
                                <div class="media-body">
                                    <a href="blog-details.html"><h5>The Amazing Hubble</h5></a>
                                    <p>02 Hours ago</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="{% static "myhealth/assets/images/blog/popular-post/post3.jpg" %}" alt="post">
                                <div class="media-body">
                                    <a href="blog-details.html"><h5>Astronomy Or Astrology</h5></a>
                                    <p>03 Hours ago</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="{% static "myhealth/assets/images/blog/popular-post/post4.jpg" %}" alt="post">
                                <div class="media-body">
                                    <a href="blog-details.html"><h5>Asteroids telescope</h5></a>
                                    <p>01 Hours ago</p>
                                </div>
                            </div>
                            <div class="br"></div>
                        </aside>
                        <aside class="single_sidebar_widget ads_widget">
                            <a href="#"><img class="img-fluid" src="{% static "myhealth/assets/images/blog/add.jpg" %}" alt=""></a>
                            <div class="br"></div>
                        </aside>
                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">Post Catgories</h4>
                            <ul class="list cat-list">
                                <li>
                                    <a href="#" class="d-flex justify-content-between">
                                        <p>Technology</p>
                                        <p>37</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex justify-content-between">
                                        <p>Lifestyle</p>
                                        <p>24</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex justify-content-between">
                                        <p>Fashion</p>
                                        <p>59</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex justify-content-between">
                                        <p>Art</p>
                                        <p>29</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex justify-content-between">
                                        <p>Food</p>
                                        <p>15</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex justify-content-between">
                                        <p>Architecture</p>
                                        <p>09</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex justify-content-between">
                                        <p>Adventure</p>
                                        <p>44</p>
                                    </a>
                                </li>
                            </ul>
                            <div class="br"></div>
                        </aside>
                        <aside class="single-sidebar-widget newsletter_widget">
                            <h4 class="widget_title">Newsletter</h4>
                            <p>
                            Here, I focus on a range of items and features that we use in life without
                            giving them a second thought.
                            </p>
                            <div class="form-group d-flex flex-row">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                                    </div>
                                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Enter email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email'">
                                </div>
                                <a href="#" class="bbtns">Subscribe</a>
                            </div>
                            <p class="text-bottom">You can unsubscribe at any time</p>
                            <div class="br"></div>
                        </aside>
                        <aside class="single-sidebar-widget tag_cloud_widget">
                            <h4 class="widget_title">Tag Clouds</h4>
                            <ul class="list">
                                <li><a href="#">Technology</a></li>
                                <li><a href="#">Fashion</a></li>
                                <li><a href="#">Architecture</a></li>
                                <li><a href="#">Fashion</a></li>
                                <li><a href="#">Food</a></li>
                                <li><a href="#">Technology</a></li>
                                <li><a href="#">Lifestyle</a></li>
                                <li><a href="#">Art</a></li>
                                <li><a href="#">Adventure</a></li>
                                <li><a href="#">Food</a></li>
                                <li><a href="#">Lifestyle</a></li>
                                <li><a href="#">Adventure</a></li>
                            </ul>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock %}