{% extends 'myhealth/base.html' %}
{％load notifications_tags％}
{% block title %}忘记密码{% endblock %}
{% block banner %}
    <div class="col-lg-12">
        <h1>忘记密码</h1>
    </div>
{% endblock %}
{% block body %}
    <div class="col-xl-5 offset-xl-3 col-lg-6">
        <div class="mt-10">
            <form action="{% url 'mhuser:ver_ajax' %}" accept-charset="UTF-8" method="post">
                {% csrf_token %}
                <input type="email" name="email" id="email" placeholder="邮箱" onfocus="this.placeholder = '输入注册邮箱'"
                       onblur="this.placeholder = '邮箱'" required="" class="single-input">
                <a href="#" id="getver" class="genric-btn primary-border small"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">获取验证码</font></font></a>
            </form>
            <form action="{% url 'mhuser:forgetpassword' %}" accept-charset="UTF-8" method="post">
                {% csrf_token %}
                <input type="text" name="verification" id="verification" placeholder="收到的验证码" onfocus="this.placeholder = ''"
                       onblur="this.placeholder = '验证码'" required="" class="single-input">
                    <input type="password" name="new_passwd" id="new_passwd"  placeholder="新密码" onfocus="this.placeholder = ''"
                           onblur="this.placeholder = '新密码'" required="" class="single-input">

                    <input type="password" name="retype_passwd" id="retype_passwd" placeholder="再次输入新密码" onfocus="this.placeholder = ''"
                           onblur="this.placeholder = '再次输入新密码'" required="" class="single-input">

                <button class="btn-mktg btn-primary-mktg btn-large-mktg f4 btn-block genric-btn info"
                        type="submit"
                        data-ga-click="Signup, Attempt, location:teams;">提交
                </button>
            </form>


        </div>
    </div>
<script>
    $(document).ready(function(){
        $("#getver").click(function () {
            $.ajax({
                url:"/mhuser/ver_ajax",
                data:{"email":$("#email").val()},
                datatype:"json", 
                success: function (data) {
                    alert(data["email"]);
                }
            });
            //var xmlHttp = new XMLHttpRequest();
            /*xmlHttp.onreadystatechange = function () {
                if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {

                }
            };*/
            //xmlHttp.open("POST", "/mhuser/ver_ajax", true);
            //xmlHttp.send($("#email").val());
        })
    })
</script>

{% endblock %}