{% extends 'myhealth/indexbase.html' %}
{% load static %}

{% block title %}登录{% endblock %}

{% block banner %}
    <div class="col-md-5">
        <div class=" text-gray bg-gray-light py-4 px-4 px-md-3 px-lg-4">
            <form action="{% url 'mhuser:login' %}" accept-charset="UTF-8" method="post"><input name="utf8"
                                                                                                  type="hidden"
                                                                                                  value="&#x2713;"/>
                {% csrf_token %}
                <dl class="form-group mt-0">
                    <dt class="input-label">
                        <label class="form-label f5" for="user_name">用户名</label>
                    </dt>
                    <input type="text" name="user_name" id="user_login"
                           class="form-control form-control-lg input-block"
                           placeholder="username" autofocus>
                    <label style="color: #ff2200; font-size: 15px;">{{ username_ph }}</label>

                </dl>
                <dl class="form-group">
                    <dt class="input-label">
                        <div class="switch-wrap d-flex justify-content-between ">
                            <label class="form-label f5" for="user_password">密码</label>
                            <a href="{% url 'mhuser:forgetpassword' %}">忘记密码？</a>
                        </div>
                    </dt>
                    <dd>
                        <input type="password" name="user_password" id="user_password"
                               class="form-control form-control-lg input-block"
                               placeholder="Create a password">
                        <label style="color: #ff2200; font-size: 15px;">{{ password_ph }}</label>
                    </dd>
                </dl>
                <p class="create-account-callout mt-3" style="color:white">
                    没有账户?
                    <a data-ga-click="Sign in, switch to sign up" href="{% url 'mhuser:register' %}">注册一个!</a>
                </p>
                <button class="btn-mktg btn-primary-mktg btn-large-mktg f4 btn-block genric-btn info"
                        type="submit"
                        data-ga-click="Signup, Attempt, location:teams;">登录
                </button>

            </form>
        </div>
    </div>
{% endblock %}



