{% extends 'myhealth/base.html' %}
{% load static %}
{% load notifications_tags %}

{% block title %}通知{% endblock %}

{% block body %}
    <div class="col-sm-12">
        <div class="row margin-top-3" data-ng-hide="vm.nopermission">
            <div class="col-sm-12" data-ng-show="vm.tableDisplay">
                <div aliyun-simple-grid="" columns="vm.columns" store="vm.itemList"
                     refresh-grid-view="vm.config.refreshGridView" loading-state="vm.loadingState"
                     render-table="vm.updateTableData(data)" pagination-info="vm.pageInfo" config="vm.config"
                     class="ng-isolate-scope">
                    <div class="ng-scope">
                        <div class="clearfix">
                            <div class="searchSection pull-left"></div>
                            <div class="tagSearchSection pull-left"></div>
                        </div>
                        <div class="gridSection">
                            <table class="table table-hover" style="margin-bottom: 57px;">
                                <thead>
                                <tr>
                                    <th class="state-column"></th>
                                    <th class="title-column">标题内容</th>
                                    <th>提交时间</th>
                                    <th aliyun-console-table-search="" select-item="filterItemMap.classId"
                                        filter-field="classId" items="filterItems.classId"
                                        click-action="changeTheadFilter(data)" class="ng-isolate-scope">
                                        <!-- ngIf: showDropdown --><!-- ngIf: !showDropdown --><span
                                            ng-if="!showDropdown" ng-transclude="" class="ng-scope"><span
                                            class="ng-scope">类型</span></span><!-- end ngIf: !showDropdown --></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for ur in unread %}
                                    <tr text-editor-trigger-target="" data-ng-if="!loadingState" bindonce=""
                                        data-ng-repeat="item in store" class="ng-scope">
                                        <td class="state-column"><!-- ngIf: item.Status*1===0 --><span
                                                class="state-unread ng-scope" ng-if="item.Status*1===0">●</span>
                                            <!-- end ngIf: item.Status*1===0 --></td>
                                        <td class="title-column"><a href="{% url 'mhuser:noti' ur.id %}"
                                                class="ng-isolate-scope title-unread"><span aliyun-truncate-text=""
                                                                                            text-length="50"
                                                                                            source-text="">{{ ur.verb }}</span></a>
                                        </td>
                                        <td><span class="column-text"
                                                  bo-text="item.GmtCreated|date:'yyyy-MM-dd HH:mm:ss'">{{ ur.timestamp|date:"Y-m-d, G:i" }}</span>
                                        </td>
                                        <td><span class="column-text"
                                                  bo-text="item.CategoryName">{{ ur.description }}</span></td>
                                    </tr>
                                {% endfor %}
                            </table>
                            <nav class="blog-pagination justify-content-center d-flex">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a href="" class="page-link" aria-label="Previous">
                                        <span aria-hidden="true">
                                            <span class="fa fa-angle-left"></span>
                                        </span>
                                        </a>
                                    </li>
                                    {% for p in page_range %}
                                        {% if p == page_id %}
                                            <li class="page-item active"><a href="{% url 'mhuser:notification' p %}"
                                                                            class="page-link">{{ p }}</a></li>
                                        {% else %}
                                            <li class="page-item"><a href="{% url 'mhuser:notification' p %}"
                                                                     class="page-link">{{ p }}</a></li>
                                        {% endif %}
                                    {% endfor %}

                                    <li class="page-item">
                                        <a href="" class="page-link"
                                           aria-label="Next">
                                        <span aria-hidden="true">
                                            <span class="fa fa-angle-right"></span>
                                        </span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}