{% extends 'myhealth/base.html' %}

{% block title %}血压数据{% endblock %}



{% block body %}
    <div class="row　card">
        <div class="col-md-8 col-lg-8　card-body">
            <div class="mt-10">
                <form method="post">
                    {% csrf_token %}
                    {{ form.start_date }}～{{ form.end_date }}
                    <input class="genric-btn primary small" type="submit" value="查询">
                </form>
            </div>
        </div>
    </div>
    <div><p></p></div>
    <div>
        <div class="card">
            <div class="card-body">
                <div class="custom-tab">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="custom-nav-home-tab" data-toggle="tab"
                               href="#chart" role="tab" aria-controls="custom-nav-home"
                               aria-selected="true"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">图表</font></font></a>
                            <a class="nav-item nav-link" id="custom-nav-profile-tab" data-toggle="tab"
                               href="#table" role="tab" aria-controls="table"
                               aria-selected="false"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">数据</font></font></a>
                            <a class="nav-item nav-link" id="custom-nav-contact-tab" data-toggle="tab"
                               href="javascript:funDownload({{ data }}, 1)" role="tab"
                               aria-controls="custom-nav-contact"
                               aria-selected="false"><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">下载</font></font></a>
                        </div>
                    </nav>
                    <div class="tab-content pl-3 pt-2" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="chart" role="tabpanel"
                             aria-labelledby="custom-nav-home-tab">
                            <div class="row">
                                <div id="container1" class="col-md-5"></div>
                                <div id="container2"></div>
                            </div>
                        </div>


                        <div class="tab-pane fade" id="table" role="tabpanel"
                             aria-labelledby="custom-nav-profile-tab">
                            <div class="col-lg-9">
                                <div class="table-responsive table--no-card m-b-30">
                                    <table class="table table-borderless table-striped table-earning">
                                        <thead>
                                        <tr>
                                            <th><font style="vertical-align: inherit;"><font
                                                    style="vertical-align: inherit;">时间</font></font></th>
                                            <th><font style="vertical-align: inherit;"><font
                                                    style="vertical-align: inherit;">舒张压</font></font></th>
                                            <th><font style="vertical-align: inherit;"><font
                                                    style="vertical-align: inherit;">收缩压</font></font></th>
                                            <th class="text-right"><font style="vertical-align: inherit;"><font
                                                    style="vertical-align: inherit;">设备号</font></font></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for d in data %}
                                            <tr>
                                                <td><font style="vertical-align: inherit;"><font
                                                        style="vertical-align: inherit;">{{ d.time }}</font></font></td>
                                                <td><font style="vertical-align: inherit;"><font
                                                        style="vertical-align: inherit;">{{ d.bpss_value }}</font></font>
                                                </td>
                                                <td><font style="vertical-align: inherit;"><font
                                                        style="vertical-align: inherit;">{{ d.bpsz_value }}</font></font>
                                                </td>
                                                <td class="text-right"><font style="vertical-align: inherit;"><font
                                                        style="vertical-align: inherit;">{{ d.diviceid }}</font></font>
                                                </td>

                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
{#    <div class="row">#}
{#        <div id="container1" class="col-md-5"></div>#}
{#        <div id="container2"></div>#}
{#    </div>#}

    {% include 'explain/explain.html' with owner=owner explains=explains explain_count=explain_count type=type %}
    {#    {% include 'comment/blog_comment.html' with comments=comments comments_count=comments_count  blog_id=blog_id %}#}
    <script>
        $(document).ready(function () {
            //var data;
            var chart = {
                type: 'spline',
                animation: Highcharts.svg, // don't animate in IE < IE 10.
                marginRight: 10,
                events: {
                    load: function () {
                        // set up the updating of the chart each second
                        var series = this.series[0];
                        setInterval(function () {
                            var xmlHttp = new XMLHttpRequest();
                            xmlHttp.onreadystatechange = function () {
                                if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
                                    {#var div = document.getElementById("div1");#}
                                    data = xmlHttp.responseText;
                                    {#div.innerText = xmlHttp.responseText;#}
                                    {#div.textContent = xmlHttp.responseText;#}
                                    series.addPoint([x, a], true, true);
                                }
                            };
                            xmlHttp.open("GET", "ajax_post", true);
                            xmlHttp.send(null);
                        }, 1000);
                    }
                }
            };
            var title = {
                text: '{{ owner }}收缩压'
            };
            var xAxis = {
            categories: {{ bpsz_data | safe }}
            };
            var yAxis = {
                title: {
                    text: 'Value'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            };
            var tooltip = {
                /*formatter: function () {
                    return '<b>' + this.series.name + '</b><br/>' +
                        Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                        Highcharts.numberFormat(this.y, 2);
                }*/
                shared: true,
                crosshairs: true
            };
            var plotOptions = {
                series: {
                    animation: true
                },
                area: {
                    pointStart: 1940,
                    marker: {
                        enabled: false,
                        symbol: 'circle',
                        radius: 2,
                        states: {
                            hover: {
                                enabled: true
                            }
                        }
                    }
                }
            };
            var legend = {
                enabled: false
            };
            var exporting = {
                enabled: false
            };
            var series = [{
                name: '收缩压',
                data: (function () {
                    // generate an array of random data
                    //var data = [], time = (new Date()).getTime(), i;
                    var data =
                    {{ bpsz_data | safe }}
                    /*for (i = -100; i <= 0; i += 1) {
                        data.push({
                            x: time + i * 1000,
                            y: Math.random()
                        });
                    }*/
                    return data;
                }())
            }];
            var json = {};
            json.chart = chart;
            json.title = title;
            json.tooltip = tooltip;
            json.xAxis = xAxis;
            json.yAxis = yAxis;
            json.legend = legend;
            json.exporting = exporting;
            json.series = series;
            json.plotOptions = plotOptions;
            Highcharts.setOptions({
                global: {
                    useUTC: false
                }
            });
            $('#container1').highcharts(json);
        });
    </script>
    <script>
        $(document).ready(function () {
            //var data;
            var chart = {
                type: 'spline',
                animation: Highcharts.svg, // don't animate in IE < IE 10.
                marginRight: 10,
                events: {
                    load: function () {
                        // set up the updating of the chart each second
                        var series = this.series[0];
                        setInterval(function () {
                            var xmlHttp = new XMLHttpRequest();
                            xmlHttp.onreadystatechange = function () {
                                if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
                                    {#var div = document.getElementById("div1");#}
                                    data = xmlHttp.responseText;
                                    {#div.innerText = xmlHttp.responseText;#}
                                    {#div.textContent = xmlHttp.responseText;#}
                                    series.addPoint([x, a], true, true);
                                }
                            };
                            xmlHttp.open("GET", "ajax_post", true);
                            xmlHttp.send(null);
                        }, 1000);
                    }
                }
            };
            var title = {
                text: '{{ owner }}舒张压'
            };
            var xAxis = {
            categories: {{ bpss_data | safe }}
        };
            var yAxis = {
                title: {
                    text: 'Value'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            };
            var tooltip = {
                /*formatter: function () {
                    return '<b>' + this.series.name + '</b><br/>' +
                        Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                        Highcharts.numberFormat(this.y, 2);
                }*/
                shared: true,
                crosshairs: true
            };
            var plotOptions = {
                series: {
                    animation: true
                },
                area: {
                    pointStart: 1940,
                    marker: {
                        enabled: false,
                        symbol: 'circle',
                        radius: 2,
                        states: {
                            hover: {
                                enabled: true
                            }
                        }
                    }
                }
            };
            var legend = {
                enabled: false
            };
            var exporting = {
                enabled: false
            };
            var series = [{
                name: '舒张压',
                data: (function () {
                    /*for (i = -100; i <= 0; i += 1) {
                        data.push({
                            x: time + i * 1000,
                            y: Math.random()
                        });
                    }*/
                    // generate an array of random data
                    //var data = [], time = (new Date()).getTime(), i;
                    var data =
                    {{ bpss_data | safe }}
                    /*var data = [], i;
                    for(i = 0; i < r_data.length; i+=1){
                        data.push({
                            x: r_data[i][0].substring(0,19),
                            y: r_data[i][1]
                        });
                    }*/
                    return data;
                }())
            }];
            var json = {};
            json.chart = chart;
            json.title = title;
            json.tooltip = tooltip;
            json.xAxis = xAxis;
            json.yAxis = yAxis;
            json.legend = legend;
            json.exporting = exporting;
            json.series = series;
            json.plotOptions = plotOptions;
            Highcharts.setOptions({
                global: {
                    useUTC: false
                }
            });
            $('#container2').highcharts(json);
        });
    </script>
{% endblock %}